.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #ffffff;
    overflow: hidden;
}

/* PANEL ESQUERDO E LOGO*/

.panel-left {
    width: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
}

.login-content {
    width: 100%;
    max-width: 460px;
    top: -20px;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    top: -50px;
    position: relative;
}

.logo-row {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 120px;
    position: relative;
}

.logo-img {
    width: 150px;
    object-fit: contain;
}

.logo-name {
    width: 230px;
    object-fit: contain;
    left: -30px;
    top: -10px;
    position: relative;
}

.logo p {
    font-size: 12px;
    color: #7b8494;
    top: 35px;
    left: -240px;
    position: relative;
    white-space: nowrap;
}

/* TEXT-PRINCIPAL */

.form-header {
    margin-bottom: 24px;
    margin-left: 100px;
    margin-top: -20px;
}

.form-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #252f40;
    margin-bottom: 4px;
    margin-left: 100px;
}

.form-header p {
    font-size: 15px;
    color: #4f5b6b;
    margin-top: -5px;
}

/* INPUTS */

.login-form {
    width: 100%;
    margin-left: -50px;
}

.input-login,
.input-password {
    width: 123%;
    height: 52px;
    margin-top: 14px;
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: -90px;
    top: 54%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #9CA3AF;
    cursor: pointer;
}

/* OPÇÕES */

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0 24px;
    gap: 16px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--text-primary);
    cursor: pointer;
}

.checkbox-label input {
    width: 15px;
    height: 15px;
    accent-color: var(--secondary);
}

.forgot-link {
    font-size: 14px;
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
    left: 100px;
    position: relative;
}

.forgot-link:hover {
    text-decoration: underline;
    color: var(--secondary);
}

/* BOTÃO */

.btn-login {
    width: 123%;
    height: 48px;
    font-size: 18px;
    transition: 0.2s ease;
    text-decoration: none;
}

.btn-login:hover {
    transform: translateY(-1px);
    filter: brightness(1.05);
}

/* TEXT-REGISTER */

.register-text {
    text-align: center;
    margin-top: 18px;
    font-size: 16px;
    color: var(--text-primary);
    left: 50px;
    position: relative;
}

.register-text a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.register-text a:hover {
    text-decoration: underline;
    color: var(--secondary);
}

/* PAINEL DIREITO */

.panel-deco {
    width: 50%;
    background: #2948a3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.deco-card {
    width: 100%;
    max-width: 800px;
    min-height: 800px;
    border-radius: 24px;
    background: linear-gradient(145deg, #294fb4, #23459f);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    overflow: visible;
    display: flex;
    align-items: flex-end;
    padding: 34px;
}

/* ILUSTRAÇÕES E TEXTOS*/

.lighting {
    position: absolute;
    top: -100px;
    left: 67%;
    transform: translateX(-50%);
    width: 650px;
    object-fit: contain;
    z-index: 4;
}

.light-effect {
    position: absolute;
    top: 30px;
    left: 58.6%;
    transform: translateX(-50%);
    width: 425px;
    height: 290px;

    background: linear-gradient(
            to bottom,
            rgba(255,255,255,0.35),
            rgba(255,255,255,0.12),
            transparent
    );

    clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
    filter: blur(20px);
    opacity: 0.8;
}

.ilustracao {
    position: absolute;
    top: 40px;
    right: -120px;
    width: 750px;
    object-fit: contain;
    z-index: 3;
}

.deco-text {
    position: relative;
    z-index: 5;
    max-width: 320px;
    top: -5px;
}

.deco-text h2 {
    font-size: 38px;
    line-height: 1.15;
    color: #dfe8ff;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
}

.deco-text p {
    font-size: 24px;
    color: #dfe8ff;
    white-space: nowrap;
    margin-top: 10px;
    font-weight: 300;
}

/* NOTEBOOK */

@media (max-width: 1440px) {

    .ilustracao {
        width: 500px;
        right: -75px;
        top: -10px;
    }

    .lighting {
        width: 450px;
        top: -80px;
        left: 68%;
    }

    .light-effect {
        width: 358px;
        top: 20px;
        left: 60.2%;
    }

    .deco-text h2 {
        font-size: 25px;
    }

    .deco-text p {
        font-size: 18px;
    }

    .deco-card{ 
        min-height: 500px;
    }

    .password-toggle{
        right: -45px;
    }

    .register-text{
        font-size: 16px;
        left: 50px;
        position: relative;
    }

    .logo-row{
        left: 120px;
        top: 10px;
        height: 130px;
    }

    .logo p{
        font-size: 12px;
    }

    .input-login,
    .input-password {
        width: 110%;
        left: 20px;
        position: relative;
    }

    .btn-login {
        width: 110%;
        left: 20px;
        position: relative;
    }

    .forgot-link {
        left: 60px;
        position: relative;
    }

    .checkbox-label {
        left: 20px;
        position: relative;
    }
}