.input-container {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--bg);
    border: 2px solid var(--text-secondary);
    border-radius: 10px;
    padding: 0 12px;
}

.input-container input::placeholder{
    font-size: 16px;
}

.input-icon {
    color: var(--text-secondary);
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 5px;
}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 20px;
    background: transparent;
    padding: 12px 0;
}

.icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-secondary);
}

.icon-right:hover {
    color: var(--text-primary);
}